@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: #111;
  font-size: 16px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.nav--desktop:hover a{
  filter: blur(5px);
  transition: all ease-in-out 250ms;
}

.nav-links--desktop:hover {
  transform: scale(1.5);
  transition: transform ease-in-out 250ms;
  position: relative;
  filter: none !important;
  background-color: transparent;
  border-radius: 5px;
}

input:disabled, input.disabled {
  background-color: rgb(203 213 225);
}

button.disabled {
  opacity: 0.9;
}